.movie-grid{
  padding: 5em;
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  .poster {
    overflow: hidden;
    position: relative;
    display: block;
    height: 310px;
    img{
      border-radius: 6.8px;
    }
  }
  .rating{
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    em{
      color: #f5c518;
      padding-right: 1em;
    }
  }
  .watch-later{
    position: absolute;
    bottom: 10px;
    left: 180px;
    color: white;

  }
  .overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 6.8px;
    height: 300px;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .name {
    position: absolute;

    left: 0;
    padding: 5px;
    color: #fff;
    text-align: center;
    font-weight: 400;
    font-size: 1rem;
  }

}
