@import "form";
@import "movie";
body {
  margin: 0;
  background: #303030;
}
main{
  padding: 5em;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  .footer{
    display: flex;
    justify-content: space-between;
    button>span>a{
      text-decoration: none;
      color: white;
    }
  }
}

.home-toolbar{
  display: flex;
  justify-content: space-between;
}
.menu-spacer{
  flex: 1 1 auto;
}
.sidenav-container {
  height: 92vh;
  .sidenav{
    width: 300px;
  }
}
