<mat-card  class="center-card">
  <mat-card-title>Sign up</mat-card-title>
  <mat-card-content>
    <form  [formGroup]="signUpForm" (ngSubmit)="signUp()" class="two-grid-form">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput formControlName="userName" placeholder="example@email.com">
        <mat-error *ngIf="submitted && form.userName.errors">
          <p *ngIf="form.userName.errors.required">
            Please enter email
          </p>
          <p *ngIf="form.userName.errors.email">
            Please enter correct email
          </p>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput formControlName="userPassword" placeholder="****" [type]="showPassword ? 'text' : 'password'">
        <mat-icon matSuffix (click)="showPassword = !showPassword">{{showPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
        <mat-error *ngIf="submitted && form.userPassword.errors">
          <p *ngIf="form.userPassword.errors.required">
            Please enter password
          </p>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Confirm password</mat-label>
        <input matInput formControlName="confirmPassword" placeholder="****" [type]="showPassword ? 'text' : 'password'">
        <mat-icon matSuffix (click)="showPassword = !showPassword">{{showPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
        <mat-error *ngIf="submitted && form.confirmPassword.errors">
          <p *ngIf="form.confirmPassword.errors.required">
            Please enter confirm password
          </p>
        </mat-error>
      </mat-form-field>
      <mat-card-actions>
        <button mat-button routerLink="/authorization/user/sign-in">Sign in</button>
        <button mat-raised-button color="primary" type="submit">Sign up</button>
        <button mat-icon-button aria-label="Facebook">
          <mat-icon><em class="fab fa-facebook-f" (click)="authService.FacebookAuth()"></em></mat-icon>
        </button>
        <button mat-icon-button aria-label="Google">
          <mat-icon><em class="fab fa-google" (click)="authService.GoogleAuth()"></em></mat-icon>
        </button>
      </mat-card-actions>
    </form>
  </mat-card-content>

</mat-card>
